srbdt/schematron/EN16931-UBL-srbdt-pdvcat-r.sch

<?xml version="1.0" encoding="UTF-8"?>
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" is-a="pdvcat" id="pdvcat-r">
  <param name="PDVCATCODE" value="R"/>
  <param name="RS-BR-X-01" value="RS-BR-R-01"/>
  <param name="RS-BR-X-05" value="RS-BR-R-05"/>
  <param name="RS-BR-X-06" value="RS-BR-R-06"/>
  <param name="RS-BR-X-07" value="RS-BR-R-07"/>
  <param name="RS-BR-X-08" value="RS-BR-R-08"/>
  <param name="RS-BR-X-09" value="RS-BR-R-09"/>
  <param name="RS-BR-X-10" value="RS-BR-R-10"/>
</pattern>