srbdt/schematron/EN16931-UBL-srbdt-pdvcat-ss.sch

<?xml version="1.0" encoding="UTF-8"?>
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" is-a="pdvcat" id="pdvcat-ss">
  <param name="PDVCATCODE" value="SS"/>
  <param name="RS-BR-X-01" value="RS-BR-SS-01"/>
  <param name="RS-BR-X-05" value="RS-BR-SS-05"/>
  <param name="RS-BR-X-06" value="RS-BR-SS-06"/>
  <param name="RS-BR-X-07" value="RS-BR-SS-07"/>
  <param name="RS-BR-X-08" value="RS-BR-SS-08"/>
  <param name="RS-BR-X-09" value="RS-BR-SS-09"/>
  <param name="RS-BR-X-10" value="RS-BR-SS-10"/>
</pattern>